@import 'vars';
@import 'product';

.filter-sort {
    /*
    flex-direction: row;
    flex-wrap: wrap;
    gap: 320px;
    */
    display: flex;
    // height: 132px;
    padding-top: 51px - 13px;
    padding-bottom: 64px;
    position: relative;
    /*
    padding-top: 51px;
    padding-bottom: 64px;
    */

    .filter {
        width: 360px;
        // padding-top: 13px;
        /*
        padding: 13px 16px 16px;
        position: absolute;
        top: 39px;
        */
        box-sizing: border-box;
        position: relative;
        z-index: 1;
        cursor: pointer;

        &__content {
            position: absolute;
            width: 328px;
            background-color: #FFFFFF;
            padding-top: 0;
            padding-right: 16px;
            padding-bottom: 16px;
            padding-left: 16px;
        }

        &[open] {
            background: #FFFFFF;
            box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
        }

        &[open] .filter__heading {
            color: $accentColor;
        }

        &[open] path {
            fill: $accentColor;
        }

        &[open] .filter__summary {
            padding-top: 13px;
            padding-left: 16px;
        }

        &__summary {
            display: flex;
            align-items: center;
            gap: 11px;
            padding-top: 13px;
        }

        &__heading {
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 17px;
            color: #000000;
        }

        &__item {
            margin-top: 16px;
        }

        &__heading-items {
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            color: #6F6E6E;
            padding: 8px 11px 11px 11px;
            border-bottom: 1px solid #EBEBEB;
            border-left: 5px solid #EF5B70;
            cursor: pointer;
        }

        &__item[open] .filter__heading-items {
            color: $accentColor;
        }

        &__link-box {
            display: flex;
            flex-direction: column;
            gap: 11px;
            padding: 24px 16px;
        }

        &__link {
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            color: #6F6E6E;

            &:hover {
                color: $accentColor;
            }
        }
    }

    .sort {
        /*
        position: absolute;
        left: 490px;
        top: 51px;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #6F6E6E;
        */
        // padding-top: 12px;
        padding-top: 13px;
        padding-left: 30px;
        padding-right: 8px;
        display: flex;
        gap: 28px;

        &__details {
            position: relative;
            z-index: 1;
        }

        &__summary {
            display: flex;
            align-items: center;
            gap: 10px;
            cursor: pointer;
        }

        &__check {
            display: flex;
            gap: 9px;
            align-items: center;
        }

        &__heading {
            white-space: nowrap;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            color: #6F6E6E;
        }

        &__box {
            display: flex;
            flex-direction: column;
            gap: 6px;
            background: #FFFFFF;
            box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
            padding: 7px 30px 11px 9px;
            position: absolute;
            left: -9px;
            top: 22px;
        }

        &__label {
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            color: #6F6E6E;
        }
    }
}



.pages {
    margin-top: 48px;
    display: flex;
    justify-content: center;

    &__item {
        background: #FFFFFF;
        padding-top: 12px;
        padding-bottom: 12px;
        width: 284px;
        border: 1px solid #EBEBEB;
        border-radius: 3px;
        display: flex;
        justify-content: center;
        gap: 16px;

        &_left:hover path {
            fill: $accentColor;
        }

        &_center {
            display: flex;
            gap: 23px;

            .number {
                font-style: normal;
                font-weight: 300;
                font-size: 16px;
                line-height: 19px;
                color: #C4C4C4;
            }

            .number1 {
                color: #EF5B70;
            }
        }

        &_right:hover path {
            fill: $accentColor;
        }
    }
}